{% extends "base.html" %}

{% block title %}
Отзывы
{% endblock %}

{% block content %}
    <div class="row">
        <h2 class="text-center">Список отзывов</h2>
    </div>

    <div class="row">
        <table class='table table-striped table-hover table-bordered align-middle'>
            <thead>
                <th class='col-1 text-center'>№</th>
                <th class='col-1 text-center'>Коментарий</th>
                <th class='col-1 text-center'>Оценка</th>
                <th class='col-1 text-center'>Товар</th>
                <th class='col-1 text-center'>Подробнее</th>
            </thead>
            <tbody>
                {% if page_obj %}
                    {% for comment in page_obj %}
                        <tr>
                            <td class='col-1 text-center'>{{forloop.counter}}</td>
                            <td class='col-1 text-center'>{{ comment.comment}}</td>
                            <td class='col-1 text-center'>{{comment.score}}</td>
                            <td class='col-1 text-center'>{{comment.product_id}}</td>
                            <td class='col-1 text-center'><a href="{% url 'telegram:comment_update' comment.id %}">Подробнее</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}