<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <!-- Шапка -->
        {% include 'header.html' %}
        <div class='container-fluid'>

            <div class='row'>
                <div class='col-md-1'>
                    <!-- Меню -->
                {% include 'nav-bar.html' %}
                </div>

                <div class='col-md-10 justify-content-center align-items-center'>
                    <div class='container'>
                        <!-- Контент -->
                        {% block content %}{% endblock %}
                        {% include 'pagination.html' %}
                    </div>
                </div>
            </div>

        </div>
        <!-- Подвал -->
        {% include 'footer.html' %}
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>